<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1086733574026-a08mjejprgoft1v3oq0tric8lha129fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086733574026-a08mjejprgoft1v3oq0tric8lha129fp</string>
	<key>API_KEY</key>
	<string>AIzaSyDfLOXn0GroFAjHaWctbGMNr8wZ3qe5cNE</string>
	<key>GCM_SENDER_ID</key>
	<string>1086733574026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.simpleTodo</string>
	<key>PROJECT_ID</key>
	<string>simpletodo-f0a80</string>
	<key>STORAGE_BUCKET</key>
	<string>simpletodo-f0a80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086733574026:ios:ddf4f3f52d09f77d</string>
	<key>DATABASE_URL</key>
	<string>https://simpletodo-f0a80.firebaseio.com</string>
</dict>
</plist>